<%= form_for(@idea) do |f| %>
  <% if @idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
      <% @idea.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :problem %><br />
    <%= f.text_area :problem %>
  </div>
  <div class="field">
    <%= f.label :solution %><br />
    <%= f.text_area :solution %>
  </div>
  <div class="field">
    <%= f.label :video %><br />
    <%= f.text_field :video %>
  </div>
  <div class="field">
    <%= f.label :requirements %><br />
    <%= f.text_area :requirements %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
