<h1><%= @user.full_name %></h1>
<img src=""/>

<%= link_to "Edit profile", edit_user_registration_path %>
<p>
<b>Skills</b>
<%=@user.skills %>
</p>

<p>
<b>Title</b>
<%=@user.title %>
</p>
<p>
<b>Department</b>
<%=@user.department %>
</p>
<p>
<b>Skills</b>
<%=@user.skills %>
</p>
