<!DOCTYPE html>
<html>
<head>
  <title>Anthill</title>
  <%= stylesheet_link_tag    "application", "960", "text", "reset", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag *content_for(:stylesheets).split(",") if content_for?(:stylesheets) %>
  <%= javascript_include_tag *content_for(:javascripts).split(",") if content_for?(:javascripts) %>

  <%= csrf_meta_tags %>
</head>
<body>
<div class="header2">
	<div class="logo">
    <% if user_signed_in? %>
		  <%= link_to "anthill for #{current_user.company.name}", dashboard_path %>
    <% else %>
      <%= link_to "anthill", root_url(:subdomain=>nil) %>
    <% end %>
	</div>
	<div class="usermenu">
		<% if user_signed_in? %>
      <%= link_to 'Dashboard', dashboard_path() %>
      <%= link_to 'Profile', profile_path() %>
	  	<%= link_to('Logout', destroy_user_session_url(:subdomain=>nil), :method => :delete) %>        
		<% else %>
		  <%= link_to('Login', root_path(:subdomain =>nil)) %>  
	<% end %>
	</div>
</div>
<% unless notice.blank? %>
  <div class="notice"><%= notice %></div>
<% end %>
<% unless alert.blank? %>
  <div class="alert"><%= alert %></div>
<% end %>

<%=yield %>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32574909-1']);
  _gaq.push(['_setDomainName', 'getanthill.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>

