<!DOCTYPE html>
<html>
<head>
  <title>Joinme</title>
  <%= stylesheet_link_tag    "application", "960", "text", "reset", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag content_for(:stylesheets) if content_for?(:stylesheets) %>
  <%= javascript_include_tag content_for(:javascripts) if content_for?(:javascripts) %>

  <%= csrf_meta_tags %>
</head>
<body>
<div class="header2">
	<div class="logo">
		<%= link_to "anthill", dashboard_ideas_path %>
	</div>
	<div class="usermenu">
		<%=link_to 'Dashboard', dashboard_ideas_path() %>
		<%=link_to 'Profile', profile_path() %>

		<% if user_signed_in? %>
	  	<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
		<% else %>
		  <%= link_to('Login', new_user_session_path)  %>  
	<% end %>
	</div>
</div>
<%=yield %>

</body>
</html>

